/**
 * Common styles
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* ===========================================
   General
   =========================================== */

/* reset */

* {
   box-sizing: border-box; /* width and height include paddings and borders */
   margin: 0; /* wipe out browser differences */
   padding: 0; /* wipe out browser differences */ 
}

img {
   border: 0;
   max-width: 100%;
}
   
body {
   background-color: #f5f5f5;
   font-family: Arial, Verdana, Tahoma, sans-serif;
   font-size: 14px; 
   line-height: 1.4;
}

/* elements */

h1, h2, h3 {
   font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
}

h2 {
   color: #333;
   font-size: 24px;
   font-weight: normal;
   margin-bottom: 25px;
}

h3 {
   font-size: 18px;
   font-weight: normal;
   margin-bottom: 20px;
}

p {
   margin-bottom: 20px;
}

a {
   color: #519A8E;
   text-decoration: none;
}

a:hover {
   color: #7CBAA5;
   text-decoration: underline;
}

/* classes */

a.lnk-cta {
   font-size: 20px;
}

a.lnk-cta::after {
   content: " »";
}

.btn-cta {
   background-color: #519A8E;
   border-bottom: 3px solid rgba(0, 0, 0, 0.15);
   border-radius: 3px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-size: 16px;
   font-weight: 600;
   padding: 8px 16px;   
   text-transform: uppercase;
   transition: background 0.5s;
   white-space: nowrap;
}

a.btn-cta {
   text-decoration: none;
}

a.btn-cta:hover {
   color: #fff;
}

.btn-cta:hover {
   background-color: #7CBAA5;
}

/* ===========================================
   Header
   =========================================== */

header {
   background: #A6D3C8;
} 

header p {
   margin: 0;
} 

header .wrapper {
   padding: 30px 0;
}  

/* logo */

.logo h1 {
   font-size: 48px;
}

.logo h1 a {
   color: #333;
}

.logo h1 a:hover {
   text-decoration: none;
}

.logo p {
   color: #555;
   font-size: 14px;
   font-style: italic;
   text-align: right;
}

/* navigation */

#mainmenu a {
   color: #000;
   font-size: 17px;
   text-transform: uppercase;
}

#mainmenu a:hover,
#mainmenu .active a {
   color: #519A8E;
   text-decoration: none;
}

/* ===========================================
   Main content
   =========================================== */

/* general */

main .wrapper {
   background-color: #fff;
   padding-bottom: 50px;
}

main p {
   color: #666;
   line-height: 20px;
}

/* ===========================================
   Footer
   =========================================== */

footer .wrapper {
   background-color: #fff;
   border-top: 2px solid #ebeceb;
   color: #666;
   font-size: 11px;
   padding: 15px;
}

footer .wrapper > div a {
   color: #666;
   font-size: 11px;
   text-decoration: underline;
}
